.leaderboard-incentives-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  position: fixed;
  z-index: -1;
}

.leaderboard-incentives-heading span {
  color: #fafafa;
  font-family: "Visby Bold";
  font-size: 4rem;
  border-bottom: 4px solid #fafafa;
}

.leaderboard-incentives-container {
  width: 75%;
  max-width: 1440px;
  height: 60%;

  position: relative;
  border-radius: 12px;
  overflow-y: scroll;
  background-color: var(--primary-black);
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 53.65%,
    #0b0b0d 93.75%,
    #0b0b0d 100%
  ); */

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.leaderboard-incentives-container::-webkit-scrollbar {
  display: none;
}

.incentive-title {
  font-family: "Visby Bold";
  font-size: 2.5rem;
  color: #fafafa;
  margin-bottom: 2rem;
}

.leaderboard-incentives-container li {
  font-family: "Visby Regular";
  font-size: 1.5rem;
  color: #fafafa;
  margin-bottom: 1rem;
  font-weight: 200;
}

.leaderboard-incentives-container>ul>li {
  list-style: circle;
}
.leaderboard-incentives-container li p{
  margin-bottom: 1rem;
}
.leaderboard-incentives-container ol ul li{
  list-style: none;
}
.leaderboard-incentives-container ol>ol{
  margin-inline: 2rem;
}
.leaderboard-incentives-container>ol>li>span{
  font-family: "Visby Bold";
}

.leaderboard-incentives-container>span {
  font-family: "Visby Regular";
  font-size: 1.5rem;
  color: #fafafa;
  margin-bottom: 2rem;
  font-weight: 200;

  margin-inline: 2rem;

  width: 90%;
}

.incentives-disclaimer {
  width: 75%;
  max-width: 1440px;

  font-family: "Visby Regular";
  font-size: 1rem;
  color: var(--primary-grey);
}

.leaderboard-incentives-container ul, .leaderboard-incentives-container ol {
  width: 90%;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
}

.social-container{
  width: 85%;
  height: 90px;
  margin-bottom: 2rem;

  display: flex;
  align-self: center;

  gap: 2rem;
}
.social-points-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-points-p{
  font-family: "Visby Regular";
  font-size: 1.3rem;
  color: #fafafa;
  text-align: left;
  width: 100%;
}
.social-points-p span{
  font-family: "Visby Bold";
}

@media screen and (max-height: 760px) {
  .leaderboard-incentives-heading {
    margin-top: 5%;
  }
  .leaderboard-incentives-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1300px) {
  .leaderboard-incentive-heading span {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 760px) {
  .leaderboard-incentives-page {
    /* justify-content: end; */
    gap: 1rem;
  }
  .leaderboard-incentives-container {
    width: 90%;
    height: 65%;
    /* margin-bottom: 5%; */
  }
  .leaderboard-incentives-heading span {
    font-size: 2.5rem;
  }
}
