.mobile-perks {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mcb-rewards{
    color: #fff;
    font-family: "Visby Medium";
    font-size: 2.75rem;
    text-align: center;
    width: 100%;
}
.rewards-slider{
  height: 35vh;
}
.rewards-slider > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
