.testimonials {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-header{
    margin-top: 2rem;
}
.test-header, .test-header h1{
  color: #fafafa;
  font-family: "Visby Bold";
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.test-header{
    overflow: hidden;
    position: relative;
    text-align: center;
}

.testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carousel{
    width: 100%;
}
.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    position: relative;
    gap: 2rem;
}
.slider {
    position: relative;
    height: 55vh;
    width: 75vw;
    /* overflow: hidden; */
}
.sliderContainer .slider .image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform, opacity;
}

.sliderContainer .buttons {
    margin-top: 12px;
}
.sliderContainer .buttons button {
    outline: none;
    border: none;
    user-select: none;
    background-color: transparent;
    font-family: "Montserrat";
    transition: 0.07s ease-out transform;
}
.buttons{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons button img{
    cursor: pointer;
    height: 30px;
    width: 20px;
}
.sliderContainer .buttons button:first-of-type {
    margin-right: 15px;
}

.sliderContainer .buttons button:active {
    transform: scale(0.85) skewY(-5deg) rotate(5deg);
}
.thumbnails {
    display: flex;
    justify-content: center;
}
.thumbnails .thumbnailContainer {
    overflow: hidden;
    position: relative;
    height: 120px;
    width: 90px;
}

.thumbnails .thumbnailContainer:not(:last-of-type) {
    margin-right: 5px;
}
.thumbnails .thumbnailContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.thumbnails .thumbnailContainer .activeIndicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #1f1f1f;
    transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;
}
.thumbnails .thumbnailContainer .activeIndicator.active {
    transform: scaleX(1);
}
@media (max-width: 1100px){
    .slider{
        min-width: 60vw;
        height: 45vh;
    }
    .buttons{
        bottom: -70%;
        width: 60%;
    }
    
}
@media(max-width: 500px){
    .slider{
        /* height: 200px; */
        /* width: 300px; */
    }
    
}
@media(max-width: 780px){
    .slider{
        min-width: 75vw;
    }
    .sliderContainer{
        /* margin: 0; */
    }
    .test-header{
        margin-top: -2rem;
    }
    .buttons{
        bottom: -80%;
    }
}
@media(max-width: 660px){
    .slider{
        min-width: 100vw;
    }
    .test-header h1{
        font-size: 2.75rem;
    }
    .test-header{
        margin-top: -4rem;
    }
}
@media(max-width: 400px){
    .test-header h1{
        font-size: 2.25rem;
    }
    .sliderContainer{
        /* margin: 15px 0; */
    }
    .slider{
        /* width: 250px;
        height: 25vh; */
    }
    .buttons{
        bottom: -100%;
    }
}
@media(max-height: 600px){
    .slider{
        /* width: 200px;
        height: 20vh; */
    }
}